<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>

    <servlet>
        <servlet-name>Task</servlet-name>
        <jsp-file>/task.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUser</servlet-name>
        <servlet-class>com.example.finalproject.ServletUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUser</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Autorisation</servlet-name>
        <jsp-file>/Autorisation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autorisation</servlet-name>
        <url-pattern>/autorisation-users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCheckEnterUser</servlet-name>
        <servlet-class>com.logic.finalproject.ServletCheckEnterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCheckEnterUser</servlet-name>
        <url-pattern>/check-enter-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutorisationManagers</servlet-name>
        <jsp-file>/AutorisationsManagers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorisationManagers</servlet-name>
        <url-pattern>/autorisation-managers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCheckEnterManager</servlet-name>
    <servlet-class>com.logic.finalproject.ServletCheckEnterManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCheckEnterManager</servlet-name>
        <url-pattern>/check-enter-mymanagers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletManager</servlet-name>
        <servlet-class>com.example.finalproject.ServletManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletManager</servlet-name>
        <url-pattern>/mymanagers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutorisationCraftsman</servlet-name>
        <jsp-file>/AutorisationCraftsman.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorisationCraftsman</servlet-name>
        <url-pattern>/autorisation-craftsmen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCheckEnterCraftsman</servlet-name>
        <servlet-class>com.logic.finalproject.ServletCheckEnterCraftsman</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCheckEnterCraftsman</servlet-name>
        <url-pattern>/check-enter-craftsman</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCraftsman</servlet-name>
        <servlet-class>com.example.finalproject.ServletCraftsman</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCraftsman</servlet-name>
        <url-pattern>/craftsman</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateNewOrder</servlet-name>
        <jsp-file>/CreateNewOrder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewOrder</servlet-name>
        <url-pattern>/create-new-order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeOrdersPrice</servlet-name>
        <servlet-class>com.logic.finalproject.ServletChangeOrdersPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeOrdersPrice</servlet-name>
        <url-pattern>/change-order-price</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetCraftsman</servlet-name>
        <jsp-file>/SetCraftsman.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCraftsman</servlet-name>
        <url-pattern>/set-craftsman</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSetCraftsman</servlet-name>
        <servlet-class>com.logic.finalproject.ServletSetCraftsman</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSetCraftsman</servlet-name>
        <url-pattern>/set-craftsman-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopOnUsersBalance</servlet-name>
        <jsp-file>/TopOnUsersBalance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopOnUsersBalance</servlet-name>
        <url-pattern>/top-on</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletTopOnUsersBalance</servlet-name>
        <servlet-class>com.logic.finalproject.ServletTopOnUsersBalance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTopOnUsersBalance</servlet-name>
        <url-pattern>/top-on-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCancelOrder</servlet-name>
        <servlet-class>com.logic.finalproject.ServletCancelOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCancelOrder</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPayOrder</servlet-name>
        <servlet-class>com.logic.finalproject.ServletPayOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPayOrder</servlet-name>
        <url-pattern>/pay-order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeStatusToInProgress</servlet-name>
        <servlet-class>com.logic.finalproject.ServletChangeStatusToInProgress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeStatusToInProgress</servlet-name>
        <url-pattern>/change-status-to-in-progress</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChangeStatusToCompleted</servlet-name>
        <servlet-class>com.logic.finalproject.ServletChangeStatusToCompleted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChangeStatusToCompleted</servlet-name>
        <url-pattern>/change-status-to-completed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LeaveFeedback</servlet-name>
        <jsp-file>/LeaveFeedback.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LeaveFeedback</servlet-name>
        <url-pattern>/leave-feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLeaveFeedback</servlet-name>
        <servlet-class>com.logic.finalproject.ServletLeaveFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLeaveFeedback</servlet-name>
        <url-pattern>/servlet-leave-feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Team</servlet-name>
        <jsp-file>/Team.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Team</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/Registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration-users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegistrationUser</servlet-name>
        <servlet-class>com.logic.finalproject.ServletRegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistrationUser</servlet-name>
        <url-pattern>/registration-users-s</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoadMap</servlet-name>
        <jsp-file>/RoadMap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoadMap</servlet-name>
        <url-pattern>/road-map</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WrongLogin</servlet-name>
        <jsp-file>/WrongLogin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WrongLogin</servlet-name>
        <url-pattern>/wrong-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WrongPassword</servlet-name>
        <jsp-file>/WrongPassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WrongPassword</servlet-name>
        <url-pattern>/wrong-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageUser</servlet-name>
        <jsp-file>/PageUser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageUser</servlet-name>
        <url-pattern>/page-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageCraftsman</servlet-name>
        <jsp-file>/PageCraftsman.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageCraftsman</servlet-name>
        <url-pattern>/page-craftsman</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageManager</servlet-name>
        <jsp-file>/PageManager.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageManager</servlet-name>
        <url-pattern>/page-manager</url-pattern>
    </servlet-mapping>

        </web-app>